.saveButton{
    border: 1px solid;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    font-weight: 500;
}

.saveButton:hover{
    background-color: rgba(0, 0, 0, 0.25);
}

.saveButton:focus{
    background-color: rgba(0, 0, 0, 0.35);
}